.mapage{
  font-family:inherit;
  font-style:oblique;
font-size:100%;
  width:100%;
  height:10%;
  background:grey;
}
body{
  background:white;
}
.menu{
 font-size:150%;
  width:100%;
  height:50%;
  background:white;
}

.contenue{
  background:orange:
    height:60%
}
footer{
  backgroud:grey;
}
